* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family:  sans-serif;
}

body {
  background-color: rgb(2, 2, 2);
}

.app {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  position: relative;
  background-color: rgb(20, 20, 20);
  padding: 3rem 5rem;
  height: 300px;
  cursor: pointer;
}

.content-div {
  width: 400px;
  height: 490px;
}

.card h2 {
  color: rgb(200, 200, 200);
  margin-top: 150px;
}

.card p {
  padding-top: 1rem;
  line-height: 150%;
  color: rgb(200, 200, 200);
}

.card-img {
  position: absolute;
  height: 150px;
  width: 325px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  top: 0;
  left: 0;
}

.links {
  margin-top: 15px;
  display: flex;
}

.links a {
  font-size: 1rem;
  margin-left: 5px;
  color: white;
  text-decoration: none;
  margin-bottom: 10px;
  padding-right: 10px;
}


.links a:hover {
  color: #07b5e6;
  transition: 0.7s;
}

@media only screen and (max-width: 425px) {
  .content-div {
    width: 125px;
    height: 400px;
  }
  
  .card-img {
    width: 270px;
  }

  .card p {
    padding-top: 0.2rem;
    font-size: 0.7rem;
  }

  .links a {
    font-size: 0.6rem;
  }

  .card h2 {
    font-size: 1rem;
  }
}