* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family:  sans-serif;
}

body {
  background-color: rgb(2, 2, 2);
}

.app {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  background-color: rgb(20, 20, 20);
  padding: 3rem 5rem;
}

.card h2 {
  color: rgb(200, 200, 200);
}

.card p {
  padding-top: 1rem;
  line-height: 150%;
  color: rgb(200, 200, 200);
}